


/* Mobile Styles */
@media (max-width: 768px) {
    #menuBar {
        flex-direction: column;
        height: auto;
    }
    
    #menuBar>.logo-block {
        font-size: 1.5rem; /* Adjust font size for smaller screens */
    }
    
    #menuBar>.navigation-block {
        flex-direction: column;
        align-items: center;
    }

    .navigation-block>li {
        margin: 10px 0;
    }

    #userDetails {
        flex-direction: column;
        align-items: center;
    }
    
    #userImage>img {
        width: 80%;
        height: auto;
        border-radius: 10%;
    }
    
    #userName>p {
        font-size: 1.5rem; /* Adjust font size for smaller screens */
    }
    
    .assets {
        flex-direction: column;
        align-items: center;
    }
    
    .asset-button {
        width: 100%;
        margin: 10px 0;
    }
}

/* Tablet and Laptop Styles */
@media (min-width: 769px) and (max-width: 1200px) {
    #menuBar>.logo-block {
        font-size: 1.75rem; /* Adjust font size for medium screens */
    }
    
    #userImage>img {
        width: 50%;
        height: auto;
        border-radius: 20%;
    }
    
    #userName>p {
        font-size: 1.75rem; /* Adjust font size for medium screens */
    }
    
    .assets {
        flex-direction: row;
        justify-content: center;
    }
}

/* Desktop Styles */
@media (min-width: 1201px) {
    #menuBar>.logo-block {
        font-size: 2rem; /* Default font size */
    }
    
    #userImage>img {
        width: 350px;
        height: 350px;
    }
    
    #userName>p {
        font-size: 2rem; /* Default font size */
    }
    
    .assets {
        flex-direction: row;
    }
}

